.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 400;
  justify-content: space-around;
}

.form {
  background-color: white;
  width: 48%;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.image {
  background-color: white;
  width: 48%;
}

input[type="submit"] {
  background-color: rgb(37, 236, 236);
  display: inline-block;
  border: none;
  cursor: pointer;
  color: white;
  width: 24%;
  height: 30px;
}

input[type="text"] {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
}

#contactus {
  font-size: large;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#mails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#fullname {
  width: 100%;
  box-shadow: 2px 2px 2px rgb(223, 219, 219);
  margin-bottom: 20px;
}

#phone,
#address {
  width: 49%;
  box-shadow: 2px 2px 2px rgb(223, 219, 219);
}

#hotelimage {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border: none;
  margin-top: 20px;
}

#message {
  width: 99.2%;
  height: 200px;
  box-shadow: 2px 2px 2px rgb(223, 219, 219);
  border: none;
}

#logo {
  font-size: 50px;
  text-transform: capitalize;
  color: grey;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 0px;
}

#submit {
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .flex-container {
    flex-wrap: wrap-reverse;
    width: 100%;
  }

  .form {
    width: 100%;
    margin-top: 2px;
  }

  .image {
    width: 100%;
  }

  #logo {
    font-size: 30px;
    font-weight: bold;
  }

  .logo {
    height: 40px;
  }
}

@media only screen and (max-width: 350px) {
  #phone,
  #address {
    width: 100%;
    box-shadow: 2px 2px 2px rgb(223, 219, 219);
  }

  #address {
    margin-bottom: 20px;
  }

  #mails {
    flex-wrap: wrap;
  }

  #logo {
    font-size: 25px;
    font-weight: bold;
  }

  .logo {
    height: 30px;
  }
}

/* nav and home */
/*Home - Section */
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.hero-section {
  width: 100%;
  background: url(../assets/images/SliderImages/Image2.png);
  background-repeat: no-repeat;
  overflow: hidden;
  bottom: 0;
  background-position: center;
  background-size: cover;
  font-size: 16px;
  height: 100%;
  padding-bottom: 10rem;
  backface-visibility: hidden;
  animation: sliderBack 10000ms ease-in-out infinite 200ms;
}

@keyframes sliderBack {
  0% {
    background: url(../assets/images/SliderImages/Image2.png);
  }
  50% {
    background: url(../assets/images/SliderImages/Image4.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
  }
  75% {
    background: url(../assets/images/SliderImages/Image3.png);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
  }
  100% {
    background: url(../assets/images/SliderImages/Image1.png);
  }
}

.bg-teal {
  background-color: rgb(0, 217, 255);
}

.hum-nav {
  text-align: center;
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hum-nav li {
  margin-right: 3rem;
  transition: 200ms;
  animation: moveUp 500ms;
}

@keyframes moveUp {
  from {
    transform: translateY(-20rem);
  }
}
.hum-nav li a {
  color: white;
}

nav {
  margin-top: 40px;
  padding: 20px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

nav ul:hover {
  color: rgb(0, 217, 255);
}

nav ul li {
  margin-left: 10px;
  line-height: 2em;
  vertical-align: middle;
}
nav ul .nav-item3 {
  margin-top: -30px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 6vw;
  color: #fff;
}
.hero-text .p1 {
  font-size: 45px;
  text-transform: uppercase;
}
.hero-text .p2 {
  font-size: 20px;
}
.hero-text form input {
  padding: 10px;
  font-size: 17px;
  border: none;
}
.hero-text form button {
  padding: 10px 10px;
  margin-left: -4px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.hero-text form button:hover {
  background-color: lightslategray;
}
.btns {
  margin-top: 30px;
}
.btns button {
  padding: 10px 10px;
  border-radius: 2px;
  border: 0;
  margin-right: 15px;
  cursor: pointer;
}
.btn1 {
  background-color: rgb(0, 217, 255);
  color: #fff;
}
.btn2 {
  background-color: #ddd;
  color: #333;
}
.btn3 {
  color: #fff;
  background-color: dimgray;
}
@media only screen and (min-width: 376px) {
  nav ul li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 655px) {
  nav ul li a {
    display: none;
  }
  nav ul li:last-child {
    display: block;
  }
  .btns {
    margin-top: 30px;
  }
  .btns button {
    padding: 10px 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    width: 150px;
  }
  .btn1 {
    background-color: rgb(0, 217, 255);
    color: #fff;
    margin-bottom: 10px;
  }
  .btn2 {
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;
  }
  .btn3 {
    color: #fff;
    background-color: dimgray;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 375px) {
  nav ul li {
    align-self: end;
    margin-top: -30px;
    margin-left: 30px;
  }

  nav ul li a {
    display: none;
  }
  nav ul .nav-item3 {
    display: none;
  }
  .hero-text {
    color: #fff;
  }
  .hero-text .p1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .hero-text .p2 {
    font-size: 20px;
  }
  .hero-text form input {
    padding: 10px;
    font-size: 17px;
    border: none;
  }
  .hero-text form button {
    margin-left: 1px;
    padding: 10px 10px;
    background: #ddd;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }
  .hero-text form button:hover {
    background-color: lightslategray;
  }
  .btns {
    margin-top: 30px;
  }
  .btns button {
    padding: 10px 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 15px;
    cursor: pointer;
    width: 150px;
  }
  .btn1 {
    background-color: rgb(0, 217, 255);
    color: #fff;
    margin-bottom: 10px;
  }
  .btn2 {
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;
  }
  .btn3 {
    color: #fff;
    background-color: dimgray;
    margin-bottom: 10px;
  }
}

